header {
  padding: 3rem 0 0 0;
  .image {
    display: block;
    flex: 1;
  }
  nav {
    position: relative;
    flex: 2;
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      margin-right: 2rem;
    }
    .get-started {
      position: absolute;
      right: 0;
    }
  }
}
